<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="browser" value="Firefox"></parameter>
		<parameter name="testURL" value="https://www.google.co.in/">
		<parameter name="Grid" value="false"></parameter>
		<parameter name="browser_version" value="47.0.1"></parameter>
		</parameter>
		<
		<classes>
			<class name="TestWg.test">
			
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
